<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Fintrader, <%= @user.first_name %>!</h1>
    <p>You have successfully signed up to Fintrader, your email is: <%= @user.email %>.<br /></p>
    <p>Click the link below to confirm your account</p>
    <div><%= link_to 'Confirm Email', @url %></div>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
