<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @user.first_name %>,</h1>
    <p>Your account has been successfully verified for trade! You may now buy and sell stocks from the market.</p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
